<h1>Reminder To Create a Blog Post</h1>

This is a reminder it is time to <a href="<%= @new_post_url %>">create blog post</a>. Blogging helps you be creative and tells the world what is on your mind and with only 250 chartecters you have to do in you will be done in no time at all.
