<% local[:posts].each do |post| %>
	<div class="post-row">
  	<div class="post-row-card">
    	<div class="post-row-card-content">
    		<%= render 'posts/post_header', local: { post_title_class: "post-row-card-title", post: post }  %>

				<p><%= display_summary(post) %></p>
			</div>

			<div class="post-row-card-action">
				<%= link_to("Read More", post_path(post)) %>
			</div>
		</div>
	</div>
<% end %>

<%= paginate local[:posts] %>
