<section>
	<h2 class="hide">Current Posts</h2>

	<%= form_tag posts_path, method: :get, athentication: false, id: "search-form", class: "materialize-row-form search-form" do %>		
		<div class="materialize-row">
			<div class="search-form-two-col search-form-two-col-textbox">
				<%= text_field_tag :search, params[:search], placeholder: "search for any post title", class: "validate" %>
			</div>
			<div class="search-form-two-col">
				<%= button_tag "Search", { class: "materialize-row-form-submit", type: "submit" } %>
			</div>
		</div>
	<% end %>

	<div class="posts">
		<%= render 'post_index', local: { posts: @posts } %>
	</div>
</section>
