.main-header {
	.main-header-navigation {
		  padding: 0 1rem;
	}
	
	.main-header-navigation-wrapper {
		@extend .nav-wrapper;
	}

	.main-header-navigation-wrapper-non-mobile-menu {
		@extend .right;
		@extend .hide-on-med-and-down;
	}

	.main-header-navigation-wrapper-mobile-menu-items {
		@extend .side-nav;
	}

	.brand-logo {
		font-family: 'Blesd Day';
		font-size: 3rem;
	}	
}

.materialize-form {
	@extend .row;
}

.materialize-row {
	@extend .row;
}

.materialize-row-form {
	@extend .col, .s12;

	.materialize-row-form-one-col {
		@extend .input-field, .col, .s12;
	}

	.materialize-row-form-two-col {
		@extend .input-field, .col, .s6;
	}

	.materialize-row-form-submit {
		@extend .btn, .waves-effect, .waves-light
	}
}
