.main-header {
	.main-header-navigation {
		  padding: 0 1rem;
	}
	
	.main-header-navigation-wrapper {
		@extend .nav-wrapper;
	}

	.main-header-navigation-wrapper-non-mobile-menu {
		@extend .right;
		@extend .hide-on-med-and-down;
	}

	.main-header-navigation-wrapper-mobile-menu-items {
		@extend .side-nav;
	}

	.brand-logo {
		font-family: 'Blesd Day';
		font-size: 3rem;
	}	
}

.materialize-row {
	@extend .row;
}

.materialize-row-form {
	.materialize-row-form-one-col {
		@extend .input-field;
		@extend .col;
		@extend .s12;
	}

	.materialize-row-form-two-col {
		@extend .input-field;
		@extend .col;
		@extend .s6;
	}

	[type="checkbox"]:checked {
		+ label:before {
			border-right: 2px solid $radio-fill-colour;
  		border-bottom: 2px solid $radio-fill-colour;
		}
	}

	.materialize-row-form-submit {
		&:hover {
			background-color: $link-colour-hover;
		}

		@extend .btn, .waves-effect, .waves-light;
		background-color: $primary-colour;
	}
}
